.workPlace {float: left;}
.workDuration {float: right;}
.workTitle {clear: both;border-bottom: 1px solid;}
.eduPlace {float: center;}
.eduDuratoion {float: right;}
.eduTitle {float: left; border-bottom: 1px solid;}

.panel-default > .panel-heading:hover{
  background-color: #a6d9ff;
}